@import "tailwindcss";

:root {
  font-family: 'Pretendard', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}


@theme {
  --spacing: 1px;

  --color-black: #181818;
  --color-chip-bg-cafe: #C1D9C9;
  --color-chip-bg-culture: #E9AF97;
  --color-chip-bg-drink: #D5CAE0;
  --color-chip-bg-entertainment: #E4A9CF;
  --color-chip-bg-food: #D2D2E8;
  --color-chip-bg-mark: #8691AA;
  --color-chip-bg-shop: #B0C8E4;
  --color-chip-bg-walk: #ABCCC2;
  --color-chip-bg-work: #E59FB0;
  --color-chip-cafe: #4B6B55;
  --color-chip-culture: #AE5C3C;
  --color-chip-drink: #594070;
  --color-chip-entertainment: #8F3973;
  --color-chip-food: #444574;
  --color-chip-light-bg-cafe: rgba(75, 107, 85, 0.1);
  --color-chip-light-bg-culture: rgba(182, 107, 77, 0.1);
  --color-chip-light-bg-drink: rgba(89, 64, 112, 0.1);
  --color-chip-light-bg-entertainment: rgba(143, 57, 115, 0.1);
  --color-chip-light-bg-food: rgba(68, 69, 116, 0.1);
  --color-chip-light-bg-mark: rgba(58, 64, 82, 0.1);
  --color-chip-light-bg-shop: rgba(97, 119, 144, 0.1);
  --color-chip-light-bg-walk: rgba(103, 129, 121, 0.1);
  --color-chip-light-bg-work: rgba(175, 66, 93, 0.1);
  --color-chip-mark: #3A4052;
  --color-chip-shop: #617790;
  --color-chip-walk: #678179;
  --color-chip-work: #AF425D;
  --color-grayScale-50: #F6F6F6;
  --color-grayScale-100: #E7E7E7;
  --color-grayScale-200: #D1D1D1;
  --color-grayScale-300: #B0B0B0;
  --color-grayScale-400: #888888;
  --color-grayScale-500: #6D6D6D;
  --color-grayScale-600: #5D5D5D;
  --color-grayScale-700: #4F4F4F;
  --color-grayScale-800: #454545;
  --color-grayScale-900: #3D3D3D;
  --color-grayScale-950: #262626;
  --color-primary-50: #F6F7F9;
  --color-primary-100: #ECEEF2;
  --color-primary-200: #D5D8E2;
  --color-primary-300: #B0B7C9;
  --color-primary-400: #8691AA;
  --color-primary-500: #677390;
  --color-primary-600: #525B77;
  --color-primary-700: #434A61;
  --color-primary-800: #3A4052;
  --color-primary-900: #343846;
  --color-primary-950: #22252F;
  --color-secondary-50: #F5F8F6;
  --color-secondary-100: #DFE8E2;
  --color-secondary-200: #BFD0C5;
  --color-secondary-300: #96B2A0;
  --color-secondary-400: #70917D;
  --color-secondary-500: #4F6C5B;
  --color-secondary-600: #435E4E;
  --color-secondary-700: #394C42;
  --color-secondary-800: #303F37;
  --color-secondary-900: #2B3630;
  --color-secondary-950: #151E19;
  --color-white: #FAFAFA
}

@layer base {
  :root {

    --color-black: #181818;
    --color-chip-bg-cafe: #C1D9C9;
    --color-chip-bg-culture: #E9AF97;
    --color-chip-bg-drink: #D5CAE0;
    --color-chip-bg-entertainment: #E4A9CF;
    --color-chip-bg-food: #D2D2E8;
    --color-chip-bg-mark: #8691AA;
    --color-chip-bg-shop: #B0C8E4;
    --color-chip-bg-walk: #ABCCC2;
    --color-chip-bg-work: #E59FB0;
    --color-chip-cafe: #4B6B55;
    --color-chip-culture: #AE5C3C;
    --color-chip-drink: #594070;
    --color-chip-entertainment: #8F3973;
    --color-chip-food: #444574;
    --color-chip-light-bg-cafe: rgba(75, 107, 85, 0.1);
    --color-chip-light-bg-culture: rgba(182, 107, 77, 0.1);
    --color-chip-light-bg-drink: rgba(89, 64, 112, 0.1);
    --color-chip-light-bg-entertainment: rgba(143, 57, 115, 0.1);
    --color-chip-light-bg-food: rgba(68, 69, 116, 0.1);
    --color-chip-light-bg-mark: rgba(58, 64, 82, 0.1);
    --color-chip-light-bg-shop: rgba(97, 119, 144, 0.1);
    --color-chip-light-bg-walk: rgba(103, 129, 121, 0.1);
    --color-chip-light-bg-work: rgba(175, 66, 93, 0.1);
    --color-chip-mark: #3A4052;
    --color-chip-shop: #617790;
    --color-chip-walk: #678179;
    --color-chip-work: #AF425D;
    --color-grayScale-50: #F6F6F6;
    --color-grayScale-100: #E7E7E7;
    --color-grayScale-200: #D1D1D1;
    --color-grayScale-300: #B0B0B0;
    --color-grayScale-400: #888888;
    --color-grayScale-500: #6D6D6D;
    --color-grayScale-600: #5D5D5D;
    --color-grayScale-700: #4F4F4F;
    --color-grayScale-800: #454545;
    --color-grayScale-900: #3D3D3D;
    --color-grayScale-950: #262626;
    --color-primary-50: #F6F7F9;
    --color-primary-100: #ECEEF2;
    --color-primary-200: #D5D8E2;
    --color-primary-300: #B0B7C9;
    --color-primary-400: #8691AA;
    --color-primary-500: #677390;
    --color-primary-600: #525B77;
    --color-primary-700: #434A61;
    --color-primary-800: #3A4052;
    --color-primary-900: #343846;
    --color-primary-950: #22252F;
    --color-secondary-50: #F5F8F6;
    --color-secondary-100: #DFE8E2;
    --color-secondary-200: #BFD0C5;
    --color-secondary-300: #96B2A0;
    --color-secondary-400: #70917D;
    --color-secondary-500: #4F6C5B;
    --color-secondary-600: #435E4E;
    --color-secondary-700: #394C42;
    --color-secondary-800: #303F37;
    --color-secondary-900: #2B3630;
    --color-secondary-950: #151E19;
    --color-white: #FAFAFA
  }
}




::-webkit-scrollbar {
  display: none;
}